body {
    background-image: url("/images/téléchargement.png");
    
}

.navbar {
    box-shadow: 5px 5px 5px black;
}

#panierImg {
    border-radius: 25px !important;
}

#envoyer {
    margin-top: 30px;
    margin-bottom: 60px;
}

#cardItem {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 40px;
    padding-top: 20px;

}

.confirmEmptyBtn {
    margin-top: 30%;
}


#teddy {
    margin-top: 30px !important;
    margin-bottom: 40px !important;
}

.intro {
    font-family: 'Nerko One', cursive;
    font-size: 60px;
    line-height: .7 !important;
}

.intro-para {
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    color: rgb(110, 208, 238);
    text-shadow: 3px 0 rgb(0, 0, 0), 0 3px rgb(245, 128, 219), 3px 0 rgb(245, 128, 219), 0 -1px rgb(245, 128, 219);
    line-height: .7 !important;
}

.container-xl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
    padding-top: 20px;
}

.form-label {
    font-family: 'Nerko One', cursive;
    color: rgb(245, 128, 219) !important;
    font-size: 30px;
}

.prix {
    color: rgb(110, 208, 238);
    font-weight: 900;
    font-size: 20px;
}

.form-control {
    margin-bottom: 15px;
    font-size: 25px !important;
    font-family: 'Nerko One', cursive;
    color: rgb(110, 208, 238) !important;
}

span {
    color: rgb(245, 128, 219) !important;   
}

.card-body {
    border-top: 1px solid rgb(110, 208, 238);
}

.confirmPara {
margin-top: 30%;
}

#totalPrice {
    pointer-events: none;
}

.btn:hover {
    box-shadow: 5px 5px 5px black;
    transform: scale(1.10);
    transition: .4s;
}

.card {
    margin: 0px 0px 100px 0px;
    box-shadow: 5px 5px 5px black;
    border-radius: 25px !important;
    line-height: 1.1 !important;
}

.card p {
    font-size: 25px;
    font-weight: 900;
    font-family: 'Nerko One', cursive;
}

.font {
    font-family: 'Nerko One', cursive;
    font-size: 30px;
    color: rgb(245, 128, 219) !important;
}

th {
    font-family: 'Nerko One', cursive;
    font-size: 30px;
    color: rgb(245, 224, 128) !important;
}

.card img {
    height: 280px;
    border-radius: 25px 25px 0px 0px !important;

}

label {
    font-family: 'Nerko One', cursive;
    color: rgb(110, 208, 238) !important;
    font-size: 25px;
}

#titre2 {
    margin-bottom: 40px !important;
}

#footer {
    margin: 0;
}

#test img {
    width: 40px !important;
}

#blockPanier h2 {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    font-family: 'Nerko One', cursive;
    color: black;
    font-size: 40px;
}

#btnPanier {
    display: flex;
    justify-content: center;
    width: 20%;
}

#orderId {
    font-family: 'Nerko One', cursive;
    font-size: 30px;
}